#user-show {
    display: flex;
    flex-direction: row;    
    color: blue;
    list-style-type: none;
}

#user-show li {
    padding: 20px 10px;
    margin: 10px;
    border: 2px solid green;
}


.header a {
  margin-right: 5px;
}

@media only screen and (min-width: 600px) {
    body {
      font-size: 2em;
    }
  }

